@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

.container {
  width: 92%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

#dp {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
  margin: 20px;
}

.frame {
  white-space: nowrap;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.btn-container {
  display: flex;
  justify-content: space-between
}

button {
  background-color: #000;
  color: white;
  padding: 14px 10px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin: 0 10px 0 0;
  font-size: large;
}

#profile-metadata > div:nth-child(1) {
  display: flex; 
}

#uuid {
  padding: 10px;
}

#profile-metadata {
  border: 5px solid #000;
  border-radius: 4px;
  max-width: 550px;
  min-width: 300px;
}

#profile-metadata .metadata {
  padding: 10px;
  flex: 1;
  z-index: 2;
}

#profile-metadata > div:nth-child(1) > div.metadata > h1 {
  font-size: 3em;
  margin: 0 5px;
}

.game {
  border: 3px solid #000;
  border-radius: 4px;
  margin: 0 5px 5px 0;
}

.game-id {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

#profile-metadata .metadata h4 {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
  width: fit-content;
  min-width: 80px;
  max-width: 200px;
  font-size: 15px;
  white-space: nowrap; /* forces text to single line */
  overflow: hidden; /* hides text that doesn't fit */
  text-overflow: ellipsis; /* adds ... to the end of the text */
}

.player {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a { color: inherit;} 

.player > img {
  width: 65px;
}

.players {
  display: flex;
  justify-content: flex-start;
}

.game-group {
  display: flex;
  flex-wrap: wrap;
}

.rules ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rules li {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
