<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.3, minimum-scale=0.55">
    <title>Sign Up - Philosopher's Football</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js" integrity="sha512-I+rKw3hArzZIHzrkdELbKqrXfkSvw/h0lW/GgB8FThaBVz2e5ZUlSW8kY8v3q6wq37eybIwyufkEZxe4qSlGcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
      body {
        /* font-family: 'Roboto Slab', serif; */
        font-family: 'Source Code Pro', monospace;
        background-color: #fff;
        color: #000;
      }
      h1 {
        text-align: center;
        padding: 0;
      }
      .login-container {
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 10px;
        background-color: #fff;
        border: 5px solid #000;
        border-radius: 4px;
        z-index: 2;
      }
      #table-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1;
      }
      input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #000;
        box-sizing: border-box;
      }
      button {
        background-color: #000;
        color: white;
        padding: 14px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      .error {
        color: red;
      }
    </style>
    <script>
        const isPasswordComplexEnough = (password) => password.length >= 8;
        const validatePassword = () => {
            const password = document.getElementById('password').value;
            const repeatPassword = document.getElementById('repeatPassword').value;
            if (password !== repeatPassword) {
                alert('Passwords do not match');
                return false;
            }
            if (!isPasswordComplexEnough(password)) {
                alert('Password must be at least 8 characters long');
                return false;
            }
            return true;
        }
    </script>
  </head>
  <body>
      <div class="login-container">
        <h1>Sign Up</h1>
        <form action="/api/auth/signup" onsubmit="return validatePassword()" method="POST">
            <label for="userName">Username:</label><br>
            <input type="text" id="userName" name="username"><br>
          
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
          
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
          
            <label for="repeatPassword">Repeat Password:</label><br>
            <input type="password" id="repeatPassword" name="repeatPassword"><br>
            <input type="hidden" name="_csrf" value="<%= data.csrfToken %>">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="table-container">
    </div>
  </body>
  <script src="drawTable.js"></script>
</html>